.app-header .inner {
  position: relative;
  padding: 1rem 0;
}

.app-header .inner::after {
  display: block;
  content: '';
  clear: both;
}

.app-header--logo,
.app-header--actions {
  float: left;
  width: 50%;
}

.app-header--actions-toggle {
  position: absolute;
  top: 50%; right: 0;
  height: 1.5rem; width: 1.5rem;
  transform: translateY(-50%);
  background: #000;
}

.app-header--actions {
  position: absolute; z-index: 99;
  top: 3rem; right: 0;
  width: 100%;
  transition: transform 0.4s ease-out;
  transform: translateX(100%);
  background: var(--white);
}

.app-header--actions_content {
  padding: 1rem 0;
}

.app-header--actions.drawer-open {
  transform: translateX(0);
}

.app-header ul {
  list-style-type: none;
  margin: 0; padding: 0;
  text-align: right;
}

.app-header li {
  display: block;
  margin-bottom: 1rem;
}

.app-header li:last-of-type {
  margin-bottom: 0;
}

.app-header .svg-wrapper {
  position: relative;
  width: 3rem; height: 3rem;
}

.app-header .svg-wrapper--content {
  padding-bottom: 100%;
}

.app-header svg {
  position: absolute; 
  top: 0; left: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

@media(min-width: 768px) {
  .app-header--actions {
    position: static;
    transform: translateX(0);
    width: 50%;
  }

  .app-header--actions-toggle {
    display: none;
  }

  .app-header li {
    display: inline-block;
    margin-left: 1rem;
  }
}
